/* Margen de la pagina*/
*{
	margin: 0;
	padding: 0;
}

/*Color de fondo rojo a la navegación superior */
 .topnav {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-color: rgb(244,67,54);
  overflow: hidden;
  }
  
  /* Enlaces dentro de la barra de navegación. */
  .topnav a {
     float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
  }
  
  /* Color de los enlaces al pasar el mouse */
  .topnav a:hover {
    background-color: #f2eded;
    color: black;
  }
  
  /* Color al enlace activo/actual */
  
  .topnav a.active {
    background-color: #b9d00a;
    color: white;
  }

  
  /* Right-aligned section inside the top navigation */
  /* .topnav-right {
    float: right;
  } */
 

  /*------------- Estilo para los elementos td con la clase material-symbols-outlined -----------------------*/
  .material-symbols-outlined {
    position: relative; /* Establece la posicion relativa para poder posicionar el icono */
  }

  /* Estilo para el icono */
  .icon {
    font-family: 'Material Symbols Outlined', sans-serif; /* Utiliza la fuente de iconos */
    opacity: 0.5; /* Establece la opacidad del icono */
  }

  /* Estilo para la celda que contiene el porrafo y el icono */
  .icon-cell {
    vertical-align: top; /* Alinea el contenido en la parte superior de la celda */
  }


  

  /* Estilo para el cuadro de bienvenida */
  .contenedor{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(244,67,54);
    p.groove {border-style: groove;}
    border: 1px solid white;
    height: 200px;
    width: 45%;
    margin-top: 130px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  /* Ubicacion de los botones */
  .botones{
    display: flex;
    justify-content: end;
    align-items: flex-end;    
  }

  /* Estilo de los botones */
  .estilobotones{
    margin-right: 20px;
    padding: 8px 30px;
    background-color: rgb(244,67,54);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  /* Aspecto de los botones al mover el mouse sobre ellos */
  .estilobotones:hover{
    background-color: rgb(244,67,54);
  }

  /* Efecto de color al momento de presionarlo */
  .estilobotones:active{
    background-color: rgb(197, 60, 60);
  }

