/* Margen de la pagina*/
*{
	margin: 0;
	padding: 0;
}


/*Color de fondo rojo a la navegación superior */
 .topnav {
        position: fixed;
        background-color: #d41d1d;
        overflow: hidden;
  }
  
  /* Enlaces dentro de la barra de navegación. */
  .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
  }
  
  /* Color de los enlaces al pasar el mouse */
  .topnav a:hover {
    background-color: #f2eded;
    color: black;
  }
  
  /* Color al enlace activo/actual */
  
  .topnav a.active {
    background-color: #070707;
    color: white;
  }

  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }


  /*----------LOGIN----------*/
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0
}

 

  /*------------- Estilo para los elementos td con la clase material-symbols-outlined -----------------------*/
  .material-symbols-outlined {
    position: relative; /* Establece la posicion relativa para poder posicionar el icono */
  }

  /* Estilo para el icono */
  .icon {
    font-family: 'Material Symbols Outlined', sans-serif; /* Utiliza la fuente de iconos */
    opacity: 0.5; /* Establece la opacidad del icono */
  }

  /* Estilo para la celda que contiene el porrafo y el icono */
  .icon-cell {
    vertical-align: top; /* Alinea el contenido en la parte superior de la celda */
  }
