/*
*******************************************************
FORMULARIO.
Estilos del formulario sin contar el sidebar
(campos, títulos de las secciones, columnas)
*******************************************************
*/

/*Anotaciones: 
-------------------------------------------------------
flex: 
Es un método de diseño de página, con el podemos 
compaginar elementos en filas o columnas iguales.

flex-wrap: 
Es una regla del flex y su función es delimitar el flex 
para que no se salga de su contenedor, respetando sus dimensiones.

flex:100px:
Tamaño mínimo del flex
*/


/*...................DATOS DE LOS PADRES................
......................................................*/

/*Divide cualquier contenido en columnas*/
.form_columnas {
    display: flex;
    flex-wrap: wrap;
}

.contenedor_global_formulario{
    position: static;
    background-color: white;
    margin-left: 265px;
    width: 80;
    padding-left: 40px;
    padding-right: 40px;
}

section h3{ 
    /*Se modifican todos los 
    títulos de cada una de las secciones principales*/
    color:rgb(244, 69, 56);
    text-align: center;
}

.titulo_seccion{ 
    /*Se modifican todos los 
    títulos de cada una de las secciones secundarias*/
    color: white;
    text-align: center;
    background-color: rgb(247, 87, 87);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 3px;
}

.datos_padre label, .datos_madre label{
    /*Propiedades de todos los label del formulario */
    margin: .3rem 1rem;
    color:rgb(244, 69, 56);
    /*font-size: .9rem;
    font-weight: 600;*/
}

.datos_padre, .datos_madre{
    /*Ajusta el margen de las dos secciones de los datos de 
    los acudientes*/
    margin-top: -20px;
}

.input_text{
    border-radius: 5px;
    height: 21px;
    border: 1px solid rgb(218, 218, 218); /* Cambiar el grosor, estilo y color del borde */
    width: 200px;
}

.input_text:focus {
    border-color: #f8571c; /* Cambia el color del borde al hacer clic */
    box-shadow: rgba(93, 69, 50, 0.097) 0px 13px 27px -5px, rgba(0, 0, 0, 0.103) 0px 8px 16px -8px;
    outline: none;
}


