/*
*******************************************************
SIDEBAR.
*******************************************************
*/
.sidebar {
    width: 230px; /* Ancho del sidebar */
    height: 100%;
    position: fixed; /* Fija el sidebar en su posición */
    left: 0; /* Lo fija en el lado izquierdo */
    top: 0; /* Lo fija en la parte superior */
    background-color: rgb(244, 67, 54); /* Color de fondo del sidebar */
    color: #fff; /* Color de texto del sidebar */
    padding: 20px; /* Espaciado interno del sidebar */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
