/*
FORMULARIO.
**************************************************************************
Aquí van todos los estilos del formulario de preregistro sin contar el 
sidebar.

    Anotaciones: 
    -------------------------------------------------------
    flex: 
    Es un método de diseño de página, con el podemos 
    compaginar elementos en filas o columnas iguales.

    flex-wrap: 
    Es una regla del flex y su función es delimitar el flex 
    para que no se salga de su contenedor, respetando sus dimensiones.

    flex:100px:
    Tamaño mínimo del flex

**************************************************************************/

body{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    overflow-x:hidden; /* Oculta la barra de desplazamiento horizontal */
}

/* Barra de desplazamiento */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 105, 105) #f4f4f4;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                             Formulario
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Titulos principales del formulario*/
.titulo-principal-cont{

    /*Propiedades  ···································*/

    width: 100%;
    height: max-content;
    position: relative;
    margin-bottom: 90px;
    margin-top: 29px;

    /* background: #333; */
}

.titulo-principal-cont img{

    /*Propiedades  ···································*/

    position: absolute;
    top: -1px;
    left: 70%;
    z-index: 2;

    /*Acciones  ······································*/

    animation: titulo-principal-cont-img 1.2s ease-in-out forwards;
}

.titulo-principal-recuadro-fondo{
    
    /*Propiedades  ···································*/

    width: 149%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -36px;
    z-index: 1;
    display: none;

    /*Diseño ·········································*/

    background-color: rgb(70, 81, 138);
}

.titulo-principal-recuadro1{

    /*Propiedades  ···································*/

    height: 74px;
    border-radius: 19px;
    z-index: 2;
    position: relative;

    /*Diseño ·········································*/

    background-color: rgb(70, 81, 138);
}

.titulo-principal-recuadro1 h3{
    
    /*Propiedades  ···································*/

    line-height: 3;
    margin-top: 0px;
    z-index: 2;
    font-size: 23px;

    /*Diseño ·········································*/

    color: #ffffff;
}

.titulo-principal-recuadro1 div{
    /*Propiedades  ···································*/
    
    border-radius: 19px;
    position: absolute;
    width: 13px;
    height: 48px;
    left: 10px;
    top: 10px;
    
    /*Diseño ·········································*/
    
    background-color: azure;
}

.titulo-principal-recuadro2{

    /*Propiedades  ···································*/

    width: 70%;
    height: 35px;
    border-bottom-left-radius: 22px;
    margin-left: 57px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    z-index: 2;

    /*Diseño ·········································*/

    background-color: rgb(247, 87, 87);
}

.titulo-principal-recuadro2 h4{

    /*Propiedades  ···································*/

    position: absolute;
    left: 49px;
    top: -18px;

    /*Diseño ·········································*/

    color: #ffffff;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                                '*'
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

    /*Contenedor que abarca todo el contenido de la página (body)*/
    .cont-padre{

        /*Propiedades  ···································*/

        /*FLEX BOX*/
        display: flex;
        flex-direction: column;
    }

    /*Contenedor que abarca todos los elementos que componen el 
    fondo y título de la página*/
    .contenedor-1{

        /*Propiedades  ···································*/

        position: relative;
        height: 269px; 
        margin-bottom: 10px;

        /*Acciones  ······································*/

        animation: contenedor-1-entrada 2s ease-in-out forwards;
    }

    .contenedor-1-titulo{

        /*Propiedades  ···································*/

        position: absolute;
        top: 41px;
        left: 53%;

        /*Diseño ·········································*/

        color: white;
    }

    /*Recuadro superior del contenedor-1*/
    .contenedor-1-contenedor-sup{

        /*Propiedades  ···································*/

        height: 72%;

        /*Diseño ·········································*/

        /* background-color: aqua; */
        background-color: rgb(244, 67, 54); 
    }

    /*Recuadro inferior del contenedor-1*/
    .contenedor-1-contenedor-inf{

        /*Propiedades  ···································*/

        height: 28%;

        /*Diseño ·········································*/

        /* background-color: rgb(64, 70, 70); */
        background-color: rgb(255, 255, 255);
    }

    /*Contenedor que contiene la imágen del contenedor-1*/
    .contenedor-1-img-contenedor{
                
        /*Propiedades  ···································*/
        
        position: absolute;
        top: 58%; /* Posición vertical en el centro */
        left: 50%; /* Posición horizontal en el centro */
        transform: translate(-50%, -48%); /* Ajusta el centro de la imagen */
        z-index: 1;

        /*Acciones  ······································*/

        animation: contenedor-1-img-contenedor-entrada 1.5s ease-in-out forwards;
    }

    /*Atributos de la Imagen del contenedor anterior*/
    .contenedor-1-img-contenedor img{
                
        /*Propiedades  ···································*/

        width: 396px;
        height: auto;
    }

    /*Circulo blanco detrás de la imágen anterior*/
    .contenedor-1-circulo-contenedor{
        
        /*Propiedades  ···································*/
        
        position: absolute;
        top: 50%; /* Posición vertical en el centro */
        left: 50%; /* Posición horizontal en el centro */
        transform: translate(-140%, -32%); /* Ajusta el centro del elemento */
        width: 150px;
        height: 150px;
        border-radius: 5rem;
        z-index: 1;


        /*Diseño ·········································*/

        background-color: rgb(255, 255, 255);

        /*Acciones  ······································*/
        
        transition: width 0.5s, height 0.5s, translate 0.5s;
    }

    .contenedor-1-menu{
      
        /*Propiedades  ···································*/

        position: absolute;
        top: 29%;
        left: 78%;
        width: 150px;
        height: 156px;
        box-sizing: conte;
        border-radius: 10px;
        z-index: 0;

        /*FLEX BOX*/
        display: flex;
        flex-direction: column;

        /*Diseño ·········································*/

        background-color: rgb(255, 111, 101);
    }




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                        DATOS DE LOS ACUDIENTES 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

    .contenedor-2{

        /*Propiedades  ···································*/

        /*FLEX BOX*/
        display: flex;
        flex-direction: row;
    }

    /* Contenedor que abarca todos los elementos del formulario*/
        /*Propiedades cuando no se fija el sidebar*/
        .contenedor-global-formulario{

            /*Propiedades  ···································*/

            position: static;           
            margin-left: 62px;    
            margin-right: 35px;
            min-width: 300px;
            flex:1;

            /*Diseño ·········································*/
            
            background-color: white;
        }

         /*Propiedades cuando se fija el sidebar 1 
         (Si no esta contraído)*/
        .contenedor-global-formulario.fix{

            /*Propiedades  ···································*/

            margin-left: 242px;      
        }

         /*Propiedades cuando se fija el sidebar 1
         (Si esta contraído)*/
        .contenedor-global-formulario.fix-contraido{

            /*Propiedades  ···································*/

            margin-left: 132px;      
        }

    /* Contenedores que contienen los datos*/
    .datos-acudiente1, .datos-acudiente2{

        /*Propiedades  ···································*/

        margin-top: -30px;
        margin-bottom: 44px;

        /* GRID */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 25px; /*Espacio entre columnas*/
    }

    /* Flex del ComboBox con el cajon de texto oculto*/
    .flex-row-combobox {
        /*Propiedades  ···································*/

        /*FLEX BOX*/
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }

    /* Modifica el diseño de todos los títulos de las secciones principales
    (Datos de los acudientes, Datos de los estudiantes...)*/
    section h3{ 

        /*Diseño ·········································*/

        color:rgb(244, 69, 56);
        text-align: center;
        margin-bottom: 2rem;
    }

    /*Se modifican todos los subtitulos de cada una de las secciones 
    (Padre, Madre...)*/
    .titulo-seccion{
        
        /*Propiedades  ···································*/

        padding: 2.5px;
        text-align: center;
        width: 200px;

        /*Esquinas*/
        border-radius: 15px;

        /*Diseño ·········································*/

        color: white;
        background-image: linear-gradient(to right, rgb(247, 87, 87) 0%, rgb(247, 87, 87) 100%);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    /*Menu desplegable para los campos de los acudientes*/
        .comboBox-acu, .comboBox-acu2{

            /*Propiedades ···································*/

            width: 100%;
            height: 30px;
            position: relative; /*Asi se evita la interferencia al hacer click sobre el mismo*/
            border: none; /* Elimina cualquier borde que pueda estar presente */
            font-size: 16px; /* Cambia el tamaño del texto */
            outline: none;
            border-radius: 15px;
            padding-left: 20px;
            margin-bottom: 20px;

            /*Diseño ·········································*/

            border-bottom: 3px solid rgb(254, 181, 181); /* Agrega una línea horizontal en la parte inferior */
            color: rgb(255, 107, 107); /* Cambia el color del texto */
            background-color: transparent;
        }
        
        /* Cambiar el estilo de las opciones desplegables */
        #comboBox-acu1 option, #comboBox-acu2 option{

            /*Propiedades  ···································*/

            padding: 5px 10px; /* Cambia el espacio interior de las opciones */

            /*Diseño ·········································*/

            background-color: #333;
            color: rgb(255, 255, 255); /* Cambia el color del texto de las opciones */
            box-shadow: rgba(245, 164, 97, 0.097) 0px 13px 27px -5px, 
                        rgba(0, 0, 0, 0.103) 0px 8px 16px -8px; /*Sombra*/
        }

        /* Cambiar el estilo cuando se enfoca el combo box */
        #comboBox-acu1:focus, #comboBox-acu2:focus{

            /*Diseño ·········································*/

            border-color: #ff8989; /* Cambia el color del borde al enfocar */
        }

        /* Cambiar el estilo cuando el mouse pasa se pasa por encima del elemento */
        #comboBox-acu1:hover, #comboBox-acu2:hover{

            /*Diseño ·········································*/

            box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        }

    /*Campo texto (otro...) */
        .campo-texto-otro{

            /*Propiedades  ···································*/

            /*Esquinas*/
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            padding-left: 15px; /* Ajusta el espacio a la izquierda del texto ingresado */
            box-sizing: border-box; /* Con esta regla, el campo no se saldra del contenedor*/
            position: relative;
            margin-bottom: 30px;
            display: none;
            width: 100%;
            height: 30px;
            border: none;

            /*Diseño ·········································*/

            border-bottom: 3px solid rgb(176, 176, 176); /*Color del borde*/
            
            /*Acciones  ······································*/

            transition: width 0.8s ease-in-out; /* Agrega una transición a la propiedad width */
        }
        
        .campo-texto-otro:focus {

            /*Diseño ·········································*/

            border-color: rgb(254, 181, 181); /* Cambia el color del borde al hacer clic */
            box-shadow: rgba(245, 164, 97, 0.097) 0px 13px 27px -5px, 
                        rgba(0, 0, 0, 0.103) 0px 8px 16px -8px; /*Sombra*/
            outline: none;
        }

        #otro-acu1, #otro-acu2{
            /*Propiedades  ···································*/
            display: none;
            overflow: hidden; /* Para ocultar el exceso de contenido */
        }


        

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                    DATOS DE LOS ESTUDIANTES 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

    /* Aqui va el listado de los estudiantes agregados que se desea matricular*/
    .seccion-estudiantes-agregados{

        /*Propiedades  ···································*/

        /*FLEX BOX*/
        display: flex;
        flex-direction: row;

        gap: 25px; /*Espacio entre columnas de los elementos de esta sección*/
        width: 100%;
        height: 70px;
        
        /* scrollbar- */
        overflow-x:scroll; /* Habilita la barra de desplazamiento horizontal */
        overflow-y:hidden; /* Oculta la barra de desplazamiento vertical */
        scrollbar-width: thin; /* "auto", "thin" o "none" */

        /*Diseño ·········································*/

        /* Color de fondo se la sección*/
        background-color: transparent;

        /* Color y grosor de la barra de desplazamiento */
        scrollbar-color: #dbdbdb rgb(240, 240, 240); 
    }

    /*Recuadros que estan dentro de la sección de estudiantes agregados*/
        .recuadro_estudiante{

            /*Propiedades  ···································*/
            
            /* Ajusta el tamaño del contenedor interno al contenido de texto */
            width: auto;
            height: auto;
            white-space: nowrap; /* Evita el salto de línea de los elementos internos */
            overflow-wrap: break-word; /* Rompe el texto en palabras largas */
            margin-bottom: 0.7rem;
            padding: 1rem;

            /*FLEX BOX*/
            display: flex;
            flex-direction: row;
            column-gap: 0.7rem;

            /*Esquinas*/
            border-top-left-radius: 0.8rem;
            border-top-right-radius: 0.8rem;
            border: none;

            justify-content: center; /* Centra el contenido verticalmente */
            align-items: center; /* Centra el contenido horizontalmente */

            /*Diseño ·········································*/
            
            background-color: rgb(237, 237, 237);
            box-shadow: rgba(143, 70, 70, 0.15) 0px 2px 8px;
            border-bottom: 2px solid rgb(255, 99, 99);
            
            /*Acciones  ······································*/
            
            transition: column-gap 0.8s cubic-bezier(0,1.3,.58,1); /* Agregar una transición suave... */
        }

        /*Contenido del recuadro (nombre del estudiante)*/
        .nombre-estudiante{
            color: rgb(244, 67, 54);
        }

        /*Cambiar el color del recuadro, cuando el mouse pasa por encima*/
        .recuadro_estudiante:hover{

            /*Diseño ·········································*/
            
            background-color: rgb(244, 67, 54); 
            border-bottom: 2px solid rgb(146, 14, 14);
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            column-gap: 0.3rem;
        }

        /*Cambiar el color de texto del recuadro al pasar el mouse por encima*/
        .recuadro_estudiante:hover .nombre-estudiante, .recuadro_estudiante:hover .icon-manage-accounts{

            /*Diseño ·········································*/

            color:aliceblue
        }
 
    /*Línea horizontal separadora*/
    hr.ln-hor-separadora{
        
        /*Diseño ·········································*/

        color:rgba(199, 199, 199, 0.261);
    }

    /**/
    .flex-estudiante-cont-1{

        /*Propiedades  ···································*/

        /*FLEX BOX*/
        display: flex;
        flex-direction: row;
        gap: 25px;

        /*Diseño ·········································*/
    }

    .flex-foto-estudiante{
        
        /*Propiedades  ···································*/

        /*FLEX BOX*/
        display: flex;
        flex-direction: row;
        justify-content: center; /* Centra el contenido verticalmente */
        align-items: center; /* Centra el contenido horizontalmente */
        /* controla la proporción de espacio que un elemento 
        flexible toma en relación con otros elementos 
        flexibles dentro del mismo contenedor*/
        flex:1;

        /* margin-right: 25px; */
        box-sizing: border-box;
        border-radius: 1rem;

        /*Diseño ·········································*/

        background-color: #ffffff;
        opacity: 1;
        background-image:  linear-gradient(135deg, #ffcfd9 25%, transparent 25%), linear-gradient(225deg, #ffcfd9 25%, transparent 25%), linear-gradient(45deg, #ffcfd9 25%, transparent 25%), linear-gradient(315deg, #ffcfd9 25%, #ffffff 25%);
        background-position:  12px 0, 12px 0, 0 0, 0 0;
        background-size: 24px 24px;
        background-repeat: repeat;
        border: 1px solid rgb(255, 54, 54); /*Color del borde*/
    }

    .grid-estudiante-cont-1{

        /*Propiedades  ···································*/

        /* GRID */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-column-gap: 25px; /*Espacio entre columnas*/
        /* controla la proporción de espacio que un elemento 
        flexible toma en relación con otros elementos 
        flexibles dentro del mismo contenedor*/
        flex:2;  
    }

    /* Íconos */
        .icon-manage-accounts{
            color: rgb(244, 67, 54);
            font-size: 2rem;
        }

        .icon-edit{
            color: rgb(244, 67, 54);
            font-size: 1.5rem;
        }






/* -----------------------------------------------------------------
                    ANIMACIONES PERSONALIZADAS
--------------------------------------------------------------------*/ 
@keyframes contenedor-1-entrada {
    0% {
        height: 164px;
    }
    100% {
        height: 269px;
    }
}

@keyframes contenedor-1-img-contenedor-entrada {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* -----------------------------------------------------------------
                            RESPONSIVE
--------------------------------------------------------------------*/ 
/*
Querys (@media)
********************************************************************
Con esto podemos especificarle a la página, como queremos 
que se vean ciertos elementos, bajo ciertas resoluciones o 
tamaño de la ventana
*******************************************************************/     

/*  ......................................... 
        Pantalla menor de 900 pixeles 
......................................... */

    @media (max-width: 900px){ 

        body {
            overflow-x: hidden;
          }
        .contenedor-1-img-contenedor img{
                
            /*Propiedades  ···································*/

            width: 320px;
        }

        /*Circulo blanco detrás de la imágen de fondo del contenedor-1*/
        .contenedor-1-circulo-contenedor{
            
            /*Propiedades  ···································*/
            
            top: 50%; /* Posición vertical en el centro */
            left: 50%; /* Posición horizontal en el centro */
            transform: translate(-140%, -30%); /* Ajusta el centro del elemento */
            width: 120px;
            height: 120px;
        }

        .contenedor-1-menu{
      
            /*Propiedades  ···································*/
    
            top: 16%;
            left: 6%;
            width: 87%;
            height: 91px;

            /*FLEX BOX*/
            display: flex;
            flex-direction: row;
        }

        /*Margen izquierdo del contenedor cuando el sidebar 1 no fijado*/
        .contenedor-global-formulario{
            
            /*Propiedades  ···································*/

            margin-left: 35px;      
        }
    }
/*  ......................................... 
        Pantalla menor de 800 pixeles 
......................................... */

    @media (max-width: 800px) { 

        .flex-estudiante-cont-1 {
            
            /*Propiedades  ···································*/
            
            /*Se cambia la dirección de este flex en columnas */
            flex-direction: column;
            gap: 0px;
        }
    }
/*  ......................................... 
        Pantalla menor de 600 pixeles 
......................................... */

    @media (max-width: 600px) { 

        .contenedor-1-titulo h2{
            left: 44%;
        }
        .contenedor-1-menu{

            /*Propiedades  ···································*/

            display: none;
        }

        .contenedor-1-img-contenedor img{
                        
            /*Propiedades  ···································*/

            width: 280px;
        }

        /*Circulo blanco detrás de la imágen de fondo del contenedor-1*/
        .contenedor-1-circulo-contenedor{
    
            /*Propiedades  ···································*/
            
            top: 50%; /* Posición vertical en el centro */
            left: 50%; /* Posición horizontal en el centro */
            transform: translate(-140%, -24%); /* Ajusta el centro del elemento */
            width: 112px;
            height: 112px;
        }

        /**/
        .titulo-principal-cont{

            /*Propiedades  ···································*/

            margin-bottom: 267px;
        }

        /**/
        .titulo-principal-cont img{
            /*Propiedades  ···································*/

            top: 93px;
            left: -50px;
            width: 230px;
        }

        /**/
        .titulo-principal-recuadro-fondo{
            
            /*Propiedades  ···································*/

            top: -42px;
            display: block;
            height: 310px;
            width: 100%;
            left: 0px;
            height: 293px;
            border-radius: 28px;
        }

        /**/
        .titulo-principal-recuadro1 h3 {
            
            /*Propiedades  ···································*/

            font-size: 26px;
            max-width: 78%;
            line-height: 35.2px;
            top: 25px;
            position: relative;
            left: 14%;
        }

        .titulo-principal-recuadro1 div {

            /*Propiedades  ···································*/

            display: none;
        }

        .titulo-principal-recuadro2{

            /*Propiedades  ···································*/

            top: 56px;
            left: 24%;
            width: 204%;
            border-radius: 22px;
            display: none;
        }

        .titulo-principal-recuadro2 h4{

            /*Propiedades  ···································*/

            left: 3%;
            max-width: 23%;
            line-height: 13px;
        }
    }







    /*Por acomodar....*/
    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }
    
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .glow-on-hover:active {
        color: #000
    }
    
    .glow-on-hover:active:after {
        background: transparent;
    }
    
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }